absl-py==2.4.0
aiofiles==25.1.0
anyio==4.13.0
astunparse==1.6.3
attrs==26.1.0
bio==1.8.3
biopython==1.87
biothings_client==0.5.0
certifi==2026.4.22
charset-normalizer==3.4.7
clu==0.0.12
dm-tree==0.1.10
docstring_parser==0.18.0
editdistance==0.8.1
einops==0.8.2
etils==1.14.0
flatbuffers==25.12.19
flax==0.12.7
fsspec==2026.4.0
gast==0.7.0
google-pasta==0.2.0
googleapis-common-protos==1.75.0
gprofiler-official==1.0.0
grpcio==1.80.0
h11==0.16.0
h5py==3.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.15
immutabledict==4.3.1
jax==0.10.0
jaxlib==0.10.0
keras==3.14.1
libclang==18.1.1
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.4
msgpack==1.1.2
mygene==3.2.2
namex==0.1.0
numpy==2.4.4
opt_einsum==3.4.0
optax==0.2.8
optree==0.19.1
orbax-checkpoint==0.11.39
packaging==26.2
pandas==3.0.3
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
promise==2.3
protobuf==7.34.1
psutil==7.2.2
pyarrow==24.0.0
pyglove==0.4.5
Pygments==2.20.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.0
rich==15.0.0
scipy==1.17.1
sentencepiece==0.2.1
seqio==0.0.20
simple-parsing==0.1.8
simplejson==4.1.1
six==1.17.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-datasets==4.9.10
tensorflow-metadata==1.17.3
tensorflow-text==2.20.1
tensorstore==0.1.83
termcolor==3.3.0
toml==0.10.2
tqdm==4.67.3
treescope==0.1.10
typing_extensions==4.15.0
urllib3==2.7.0
uvloop==0.22.1
Werkzeug==3.1.8
wrapt==2.1.2
zipp==3.23.1
